@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body { 
    background-color: #F7F7F7;
    font-family: 'Poppins', sans-serif;
    padding: 16px; 
}

.line-height-default {
    line-height: 16px;
}

.poke-img {
    /* position:absolute;
    z-index: 1;
    bottom: 80%;
    left: 25%; */
    display: block;
    margin: auto;
    margin-top: -158px;
}

p.description{ 
    font-size: 12px;
    
    text-align: justify;
    color: #212121;
}

.card {
    display: flex;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    flex-direction: column;
    justify-content: space-between;
}
 
.card-body {
    background-color: white;  
    border-radius: 8px;
    padding: 58px 20px 16px 20px;
}

/* Upper text */
.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 24px;
    
    font-weight: 700;
    align-items: center;
    color: white;
}

#name {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    flex-grow: 1;
}

#pokedex {
    font-size: 16px;
    line-height: 32px;
    font-style: bold;
}

.tag {
    border-radius: 10px;
    padding: 2px 8px;
    font-weight: 600;
    font-size: 12px;
    color: white;
}

.grass {
    background-color: #74CB48;
}

.poison {
    background-color: #A43E9E;
}

.tag-group {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;
}

.body-title{
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: #74CB48;
    margin-bottom: 16px;

}

.genetics{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.divider {
    display: flex;
    align-self: stretch;
    width: 1px;
    margin: 0px 24px 16px 24px;
    background-color: #E0E0E0;
}

.txt-icon {
    display: flex;
    gap: 8px;
    margin: 10px 0px;
    flex-direction: row;
    align-items: center;
}

#poke-weight, #poke-height{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: center;
    margin-bottom: 16px;
    color: #212121;
}

#poke-weight span, #poke-height span {
    color: #666666;
    font-size: 12px;
}
